<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container text-center">
      <% include ../static/partials/navbar.ejs %>

      <h1>About Us</h1>
<!-- #1 -->
<!-- #2 -->
<div class="row text-left">
<div class="col-sm-6">

<p>At the beginning it started out with just a simple gathering here and there where I cooked some of the usual Filipino food you serve for family and friends. 
   They all liked it and soon after, friends would order my bbq and egg rolls for their own parties and then their friends
   would ask who made the food. My catering business took off through word of mouth and next thing I know, I'd get orders from people that
   I don't personally know and they would tell me they asked my contact number through our common friend. My menu has expanded over the years
   because of the demand. Having a website makes it easier to manage catering orders because I enjoy serving Filipino food, it gives people the feeling of being closer to our 
   motherland.
</p>
</div>
<div class="col-sm-4"><img src="/images/cater.jpg" width="500" height="300"></div>
</div>

    </main>
  </body>
</html>