<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
      <% include ./partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3">Welcome to Lil's BBQ!</h1>
          <p class="lead">Serving you home cooked Filipino meals since 2000.</p>
        </header>

        <!-- Page Features -->
        <section class="row text-center">

          <section class="col-lg-12">
            <img alt="Poster" id="poster" src="/images/bbqtri.jpg" width="1000" height="300">
          </section>

        </section>
       
        <!-- /.row -->
        <section class="row text-center">
        <section class="col-lg-12"><a href="#" class="btn btn-primary btn-md">Manage</a></section>
      </section>
      </main>
      <!-- /.container -->
      

         

      <% include ./partials/baseScripts.ejs %>

    </body>
</html>